.navbar {
  padding: 20px;
  background-color: black;
}
.logo {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}
.button {
  color: darkorange;
}
.searchBar {
  align-content: end;
}
.card {
  padding: 30px;
}
.icon {
  width: 30px;
  font-size: small;
}
.picture {
  width: 200px !important;
  border-radius: 50% !important;
}
.container-sm {
  padding: 20px !important;
}
.list-group-item {
  font-size: small;
}
.broj {
  display: inline-block;

  font-size: 20px;
  -moz-border-radius: 50px; /* or 50% */
  border-radius: 50px; /* or 50% */

  color: white;
  text-align: center;
  align-items: flex-end;
  padding: 20px;
}
.list-group-item-dark {
  padding-left: 20px;
}
.x_name {
  color: mediumblue;
  font-size: 16px;
  padding-right: 20px;
}
.x_visibility {
  border-radius: 25% 10%;

  background-color: lightgray;
  text-align: center;
  align-items: flex-end;
  padding: 5px;
}
