.navbar {
  padding: 20px;
  background-color: black;
}
.logo {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}
.button {
  color: darkorange;
}
.searchBar {
  align-content: end;
}
.card {
  padding: 30px;
}
.icon {
  width: 30px;
}
.picture {
  width: 200px !important;
}
